<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>authServlet</servlet-name>
		<servlet-class>com.fvv.std.web.servlets.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authServlet</servlet-name>
		<url-pattern>/01-jsp-servlet/authentication</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>randServlet</servlet-name>
		<servlet-class>com.fvv.std.web.servlets.RandomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>randServlet</servlet-name>
		<url-pattern>/01-jsp-servlet/randomTable</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addBookServlet</servlet-name>
		<servlet-class>com.fvv.std.web.servlets.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addBookServlet</servlet-name>
		<url-pattern>/02-taglib/addBook</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
